<nav>
      <div class="site-title">
        <a href="/"><h1>Blog Website</h1></a>
        <p>Aditya's Blog Website</p>
      </div>

      <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
</nav>