<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
  <body>
<%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae esse
        error cupiditate sapiente exercitationem, omnis nisi est iste ducimus
        repellendus laborum labore numquam ratione atque nobis a veritatis
        natus. Quo!
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae esse
        error cupiditate sapiente exercitationem, omnis nisi est iste ducimus
        repellendus laborum labore numquam ratione atque nobis a veritatis
        natus. Quo!
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae esse
        error cupiditate sapiente exercitationem, omnis nisi est iste ducimus
        repellendus laborum labore numquam ratione atque nobis a veritatis
        natus. Quo!
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae esse
        error cupiditate sapiente exercitationem, omnis nisi est iste ducimus
        repellendus laborum labore numquam ratione atque nobis a veritatis
        natus. Quo!
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
